nav{
    padding: 0 10px;
    background-color: #fff;
}
nav ul{
    margin: 0;
    padding: 0;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display: block;
    padding: 30px 30px;
    background-color: #fff;
    border-bottom: 3px solid #fff;
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
}
nav ul li a.current-menu{
    border-color: red;
    color: red;
}
.logo{
    padding: 20px 0;
}
@media screen and (max-width: 767px) {
    nav{
        text-align: center;
    }
    nav ul{
        text-align: center;
    }
    nav ul li a {
        padding: 30px 10px;
    }
}